<!DOCTYPE html>
{% extends 'basicapp/base.html' %}

{% block body_block %}
<div class="jumbotron">
    <h1>LOGIN HERE </h1>
    <form action="{% url 'basicapp:user_login' %}" method="post">
        {% csrf_token %}
        <label for="username" >USERNAME:</label>
        <input name="username" type="text" placeholder="Enter username">

         <label for="password" >PASSWORD:</label>
        <input name="password" type="password" placeholder="Enter password">

        <input type="submit" value="Login">
    </form>

 </div>


{% endblock %}